@font-face {
    font-family: Graphik-Semibold;
    src: url(https://cdn1.staticpanvel.com.br/cdn_service/landpages/page-clinic/assets/fonts/Graphik-Semibold.woff);
}

@font-face {
    font-family: Graphik;
    src: url(https://cdn1.staticpanvel.com.br/cdn_service/landpages/page-clinic/assets/fonts/Graphik-Regular.woff);
}
